Hide scrollbar in all browsers * {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Firefox */
}

/* Hide scrollbar in WebKit browsers */
*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Container styles */
.ALLL {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;
  flex-direction: column;
  position: fixed;
  background-color: #0c0c0c;
}

.profilepic {
  margin-top: 30%;
  margin-right: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.gamesHistory {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  display: flex;
}

.oneEntry {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-style: dotted;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oneEntry b {
  margin-right: 5px;
  color: #333;
}

.oneEntry .timestamp {
  color: #888;
}
