Hide scrollbar in all browsers * {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Firefox */
}

/* Hide scrollbar in WebKit browsers */
*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
}

/* Container styles */
.ALLL {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: white;
  flex-direction: column;
  position: fixed;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 100%;
}

.profilepic {
  margin-right: 20px;
  margin: 5%;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.gamesHistory {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field {
  display: flex;
}

.oneEntry {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  /* padding: 10px; */
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  border-style: dotted;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  margin-top: 5px;
  padding: 20px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.oneEntry b {
  margin-right: 5px;
  color: #333;
}

.oneEntry .timestamp {
  color: #888;
}

hr {
  margin: 20px 0; /* Adjust the margin as needed */
  border: 0; /* Remove default border */
  border-top: 1px solid #ccc; /* Set color and style of the line */
}
