*{
    margin:0%;
    padding:0%;
}

.everyThing{
    display: flex;
}

.enterDetails{
    width: 50vw;
    height: 100vh;
    /* border: 1px solid black; */
    position: relative;
}

.inp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 4vh;
    width: 80%;
    border-radius: 8px;
    padding: 1%;
}
.centerPart{    
    top:25%;
    left: 40%;
    position: absolute; 
    width: 50%;
    height: 50%;
}

.sideText{
    /* border: 1px solid black; */
    background-image: linear-gradient(to bottom right, rgb(188, 210, 240), rgb(1, 64, 251));
    /* background-color: rgb(137, 137, 238); */
    width: 50vw;
    height: 100vh;
}

.centerSquare{
    height: 30%;
    width: 20%;
    position: absolute;
    top: 25%;   
    left: 58%;
    background: rgba(228, 214, 214, 0.8);
    border-radius: 10px;
    backdrop-filter: saturate(180%) blur(10px);
    padding: 3%;
    box-shadow:0px 2px 5px 4px rgba(20,20,20,0.4);
}
.centerSquare .text{
    color:white
}
.centerSquare .subHeading{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4%;
}

#message{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.login{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2%;
}

.lightText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 20px;
}

.showPassword{
    display: flex;
    margin-top: 2%;
}

.checkbox{
    margin-left: 1%;
}

hr{
    height:1px;
    margin: 4% 0%;
    width: 70%;
    background-color: rgb(113, 111, 111);
}

.loginBtn{
    margin-top: 2%;
    padding: 2%;
    height: 5vh;
    width: 82%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
    border-style:none;
    background-image: linear-gradient(to bottom right, rgb(188, 210, 240), rgb(1, 64, 251));
    color: aliceblue;
    
}
.loginBtn:hover{
    background-image: linear-gradient(to bottom right, rgb(19, 62, 119), rgb(56, 25, 106));
}









