* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.chatsection {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 98%;
  border: 4px solid white;
  border-radius: 8px;
  margin: 2.5% 5%;
}

.textField {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 10%;
}

.chats {
  height: 90%;
  background-color: #f0f0f0;
  padding: 1%;
  overflow-y: auto;
}

.message-field-container {
  display: flex;
  width: 80%;
  height: 100%;
  padding: 2.5%;
}

.message-field {
  width: 100%;
  height: 100%;
  padding: 2.5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none; 
}

.send-button-container {
  display: flex;
  padding: 2.5%;
  width: 20%;
  height: 100%;
}

.send {
  position: relative;
  width: 50px; 
  height: 50px; 
  border: none;
  border-radius: 50%; 
  background-color: #3498db;
  color: #fff;
  font-size: 24px; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send:hover {
  background-color: #2980b9;
}

.send::before {
  content: '\27A4'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.oneChat {
  width: 100%;
  display: flex;
  align-items: flex-start; 
  background-color: black;
  border-radius: 10px;
  padding: 1.5%;
  margin-top: 1%;
  overflow-wrap: break-word;
}

.oneChat img {
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  margin-right: 10px; 
}
