.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.digital-clock {
  display: flex;
  font-size: 16px;
  font-family: "Digital-7", sans-serif;
  color: #3498db;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.digit {
  margin: 0 10px;
}

.colon {
  font-size: 16px;
  margin: 0 10px;
  align-self: flex-end;
}
