.iconboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-users-heading{
  font-size: 20px;
  color: #3498db;
  font-family: 'Arial', sans-serif;
}

.iconbox {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  background-color: rgb(44, 61, 80); 
  display: flex;
  border: 1px solid #333;
  border-radius: 10px 10px 0px 0px;
}

.picIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

.avatar {
  width: 60px;
  height: 60px;
  border: 5px solid rgb(52, 152, 219);
  border-radius: 50%;
  margin-left: 3%;
  margin-right: 3%;
}

.avatar:hover {
  border: 10px solid rgb(2, 40, 79); 
}

.picIcon p {
  color: #fff;
}
